<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>Vesaly</title>

        <!-- Favicon -->
        <link rel="shortcut icon" href="/static/images/favicon.png">
        <!-- Bootstrap -->
        <link href="/static/bootstrap/bootstrap.min.css" rel="stylesheet">
        <link href="/static/bootstrap/bootstrap-theme.min.css" rel="stylesheet">
        <!-- Custom CSS -->
        <link href="/static/css/style.css" rel="stylesheet">
        <!-- Owl Carousel stylesheets -->
        <link href="/static/css/owl.carousel.css" rel="stylesheet">
        <link href="/static/css/owl.theme.css" rel="stylesheet">
        <!-- Fancybox -->
        <link href="/static/css/jquery.fancybox.css" rel="stylesheet">
        <!-- Animate - necessary for Wow.js -->
        <link href="/static/css/animate.css" rel="stylesheet">
        <!-- Google Fonts -->
        <link href="http://fonts.googleapis.com/css?family=PT+Sans:400,700|Oranienbaum|PT+Serif:400italic" rel="stylesheet">
        <!-- Font Awesome Icons -->
        <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.2/css/font-awesome.css" rel="stylesheet">
    </head>
    <body data-spy="scroll" data-target=".navbar-collapse">
       <div class="navbar navbar-fixed-top">
       <div id="banner">
            <div id="cover"></div>
            <video id="bgvid" loop autoplay>
                <source src="/static/videos/video1.mp4" type="video/mp4" />
                <source src="/static/videos/video1.ogv" type="video/ogg" />
            </video>
            <div id="cover"></div>
            <div class="tint">
                <div class="welcome text-center">
                    <h1 style="font-size: 90px"><span>BIENVENIDO A</span> VESALY</h1> 
                    <a href="login" id="btn btn-default btn-lg" class="btn btn-default btn-lg">EMPEZAR </a>
                </div>
            </div>
        </div>
        <!-- ========== BANNER END ========== -->
        <!-- ========== INDEX START ========== -->
        <!-- ========== INDEX END ========== -->
        <!-- ========== INDEX END ========== --
        <div class="container">
        <div class="row justify-content-center">
        <div class="col-xl-10 col-lg-12 col-md-9">

                <div class="card o-hidden border-0 shadow-lg my-5">
                  <div class="card-body p-0">
                    <!-- Nested Row within Card Body --
                    <div class="row">
                      <div class="col-lg-6 d-none d-lg-block">
                        <img src="img/django-crm-home.png" class="rounded" alt="Cinque Terre">
                      </div>
                      <div class="col-lg-6">
                        <div class="p-5">
                          <div class="text-center">
                            <h1 class="h4 text-gray-900 mb-4">Welcome To Django CRM!</h1>
                          </div>
                          <a href="#" class="btn btn-danger btn-block btn-lg">Register / Sign Up</a>
                          <br>
                          <a href="#" class="btn btn-primary btn-block btn-lg">Login</a>
                          <br>
                          <a href="#" class="btn btn-success btn-block btn-lg">Forgot Password</a>
                          <hr>
                          <div class="text-center">
                            <a class="small" href="#">Subscribe</a>
                          </div>
                          <div class="text-center">
                            <a class="small" href="#">StudyGyaan & ProfessionalCipher</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <!-- ========== INDEX END ========== -->
        </div>
        <div id="home"></div>

        <!-- HTML5 shiv and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
        <script src="/static/js/html5shiv.js"></script>
        <script src="/static/js/respond.min.js"></script>
        <![endif]-->

        <!-- Poppup Plugin -->
        <script src="/static/js/popup.js"></script>
        <!-- Modernizr Plugin -->
        <script src="/static/js/modernizr.custom.97074.js"></script>
        <!-- Script Icons Fontawesome -->
        <script src="https://kit.fontawesome.com/a04cb7dfe7.js" crossorigin="anonymous"></script>
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="/static/js/jquery-1.10.2.min.js"></script>
        <!-- Bootstrap Plugins -->
        <script src="/static/js/bootstrap.min.js"></script>
        <!-- Retina Plugin -->
        <script src="/static/js/retina-1.1.0.min.js"></script>
        <!-- Owl Carousel Plugin -->
        <script src="/static/js/owl.carousel.js"></script>
        <!-- Scrolly Plugin -->
        <script src="/static/js/jquery.scrolly.js"></script>
        <!-- MixItUp Plugin -->
        <script src="/static/js/jquery.mixitup.min.js"></script>
        <!-- Fancybox Plugin -->
        <script src="/static/js/wow.min.js"></script>
        <script>
            new WOW().init();
        </script>
        <!-- WOW Plugin -->
        <script src="/static/js/jquery.fancybox.js"></script>
        <!-- Contact form processing plugin -->
        <script src="/static/js/magic.js"></script>
        <!-- jQuery Settings -->
        <script src="/static/js/settings-video.js"></script>
        
    </body>
</html>